#container {
  width:1000px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  background-color: #E0FFFF;
}

#content {
  float: right;
  text-align:center;
  width:700px;
  margin: 15px;
  padding: 0;
  border: 0;
  line-height: 1.5;
  font-size: 100%;
  background-color: #E0FFFF;
  font-family: "helvetica";
  color: black;
}

p {
  text-align:center;
}

#header {
  width:1000;
  text-align: center;
  margin:5px;
  padding: 5px;
}

h2 {
  width: 700;
  height: 150;
  margin:5px 0 0 0; 
  padding:10px;
  font-family: inherit;
  color: black;
  font-weight: bold
}

li {
  list-style-type: none;
  width: 150;
  height:40 ;
  font-family: inherit;
  color: inherit;
}

#sidebar {
  float: left;
  width:250px;
  font: italic;
  border: 5px;
  border-color: #FF0000
}