/* ---Mobile Formatting--- */

@media only screen and (max-width: 767px) {

	#headerpic {
		height: 30%;
		width: 100%;
	}

	#headertext {
		color: #E9E9E9;
		font-family: "Changa One";
		font-size: 2em;
		font-weight: 400;
		margin-top: -1.5em;
		position: absolute;
		text-align: center;
		width: 65%;
	}

}

/* ---Header Formatting--- */

#headerlinks {
	background-color: #BCBCBC;
	display: inline-block;
	font-size: 1em;
	height: 6%;
	position: fixed;
	width: 100%;
}

#headerpic {
	width: 100%;
}

#headertext {
	color: #E9E9E9;
	font-family: "Changa One";
	font-size: 5em;
	font-weight: 400;
	margin-top: -21%;
	position: absolute;
	text-align: center;
	width: 65%;
}

.selected {
	color: #E9E9E9;
}

header div h2 a {
	color: #424242;
	float: left;
	font-family: "Droid Sans";
	font-weight: 700;
	margin-top: 0.2%;
	padding: .5em;
	text-decoration: none;
}

header div h2 a:hover {
	color: #E9E9E9;
}

#whichweek {
	color: #424242;
	float: right;
	font-family: "Droid Sans";
	font-weight: 700;
	margin-top: 0.2%;
	padding: .5em;
}

/* ---Body Formatting--- */

#about {
	float: right;
	margin-right: 17em;
	margin-top: 3em;
	text-align: left;
	width: 40%;
}

#cartoon {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
}

#contact {
	float: right;
	margin-right: 16em;
	margin-top: 5em;
}

#description {
	float: left;
	margin-left: 16em;
	margin-top: 5em;
	text-align: left;
	width: 40%;
}

#profilepic {
	float: left;
	margin-left: 17em;
	margin-top: 3em;
}

.week {
	background-color: #BCBCBC;
	display: block;
	height: 8.5em;
	margin-bottom: 3%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 3%;
	position: static;
	text-align: center;
	width: 60%;
}

body section article a {
	color: #424242;
	font-family: "Open Sans";
	font-weight: 300;
	text-align: center;
	text-decoration: none;
}

body section article a:hover {
	color: #E9E9E9;
}

body section article h2 {
	color: #FF9900;
	font-family: "Droid Sans";
	font-size: 2em;
	font-weight: 700;
	text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  padding: 2px;
}

section article figure figcaption {
	font-family: "Droid Sans";
	font-weight: 300;
	font-size: .8em;
	text-align: center;
}

section article p {
	color: #424242;
	font-family: "Droid Sans";
	font-weight: 300;
	line-height: 1.5;
	margin-left: 2em;
	margin-right: 2em;
	text-indent: 2em;
}

section article ul li {
	color: #424242;
	font-family: "Droid Sans";
	font-weight: 300;
	line-height: 1.5;
	text-align: center;
}

/* ---Footer Formatting--- */

footer {
	background-color: #424242;
	bottom: 0px;
	display: inline-block;
	height: 4%;
	position: fixed;
	text-align: right;
	width: 100%;
}

footer a {
	color: #BCBCBC;
	margin-bottom: 0px;
	padding-top: .4em;
	position: relative;	
}

footer a:hover {
	color: #FF9900;
}

footer h2 {
	color: #BCBCBC;
	display: inline-block;
	font-family: "Droid Sans";
	font-size: 0.75em;
	font-weight: 700;
	padding: 0.5em;
}