#headerpic {
	width: 100%;
	position: absolute;
}

#headertext {
	text-align: center;
	font-family: Copperplate;
	font-size: 750%;
	position: absolute;
	margin-top: 9%;
	margin-left: 7%;
	color: white;
}

span {
	color: black;
}

div {
	position: absolute;
	margin-top: 33%;
}

body div h2 {
	text-align: center;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}